.header-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    letter-spacing: 1px;
    text-transform: uppercase;
    /* Primaries/A/project125-A0 */
    color: #1C1B1B;
    text-align: left;
    margin-left: 22px;
}

.main-players-block {
    margin-top: 59px;
    margin-left: 40px;
    width: 30%;
}