.display {
    margin-left: 26px;
    width: 100%;
    margin-right: 40px;
}




.header-table {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 50px;
    color: #1C1B1B;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main-header {
    margin-top: 58px;
    margin-bottom: 32px;
}

